<div>
  <h1> {{ title }} by {{ user.name }}</h1>
</div>
<h4>
  {{ body }}
</h4>
<p>
  {{ format_date createdAt }}

</p>

{{#if logged_in}}
<div class="p-2>">
  <form class="newcomment">
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="commentname" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comment:</label>
    <textarea class="form-control" id="commenttext" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
<div class="p-2">
{{/if}}

<h2>Comments:</h2>

{{#if blog.Comments }} 
<h3>Comments</h3>
{{#each blog.Comments}}
<p>
  {{body}}
</p>
{{/each}}
{{/if}}
</div>

<script src="./js/login.js"></script>


