<div class="d-flex justify-content-center mt-2">
<div class="card bg-dark m-2 cardstyle " style="width: 70%;">
  <div class="card-body">
    <h4 class="card-title"> {{ title }}</h4>
    <p class="card-text"> Post by {{ user.name }} on {{ format_date createdAt }} {{post.id}}</p>
    
    <h5 class="card-text"> {{ body }} </h5>
   </div>
  </div>
</div>
</div>

{{#if logged_in}}
<div class="d-flex justify-content-center m-2">
  <div class="card bg-dark m-2 cardstyle pt-2 " style="width: 70%;">
  <form class="newcommentform">
  <div class="form-group p-2">
      <input type="hidden" name="postId" value="{{id}}" />
    <label for="exampleFormControlTextarea1">Add a Comment:</label>
    <textarea class="form-control  bg-dark text-white" name="comment-body" id="commenttext" rows="3"></textarea>
  </div>
  <div class="text-center p-2">
  <button type="submit" class="btn formbutton">Submit</button>
  </div>
</form>
</div>
</div>

{{/if}}

<div class="p-3 comments">
{{#if Comments }} 
<h3 class="commentline">Comments</h3>
{{#each Comments as |comment| }}
<p class="ml-4 singlecomment">
  {{comment.body}}
  {{comment.user.name}} on
  <span class="font-italic">{{ format_date comment.createdAt}}</span>
  </p>
  {{/each}}
{{/if}}
</div>


<script src="/js/comment.js"></script>



