<div class="d-flex justify-content-center mt-2">
<div class="card bg-dark m-2 cardstyle " style="width: 70%;">
  <div class="card-body">
    <h4 class="card-title"> {{ title }}</h4>
    <p class="card-text"> Post by {{ user.name }} on {{ format_date createdAt }} {{post.id}}</p>
    
    <h5 class="card-text"> {{ body }} </h5>
    {{!-- <p class="card-text"> Post by {{ user.name }} </p> --}}
   </div>
  </div>
</div>
</div>

{{!-- {{#if logged_in}} --}}
<div class="p-2>">
  <form class="newcommentform">
  <div class="form-group">
      <input type="hidden" name="postId" value="{{id}}" />
    <label for="exampleFormControlTextarea1">Comment:</label>
    <textarea class="form-control" name="comment-body" id="commenttext" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="p-2">
{{!-- {{/if}} --}}

<h2>Comments:</h2>
<div>
{{#if Comments }} 
<h3>Comments</h3>
{{#each Comments as |comment| }}
<p>
  {{comment.body}}
  {{comment.user}}
  </p>
  {{/each}}
{{/if}}
</div>

<script src="/js/comment.js"></script>



