<h1 class="text-center mt-4">Welcome to your Dashboard, {{name}}</h1>

<div class="d-flex align-items-center flex-column">
<div class="card bg-dark m-2 p-3 cardstyle" style="width: 75%">
<form class="newpost">
  <div class="form-group p-2">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control bg-dark text-white" id="blogtitle" placeholder="Enter title">
  </div>
  <div class="form-group p-2">
    <label for="exampleFormControlTextarea1">Body:</label>
    <textarea class="form-control bg-dark text-white" id="blogbody" rows="3" placeholder="Enter body"></textarea>
  </div>
  <div class="text-center pt-2">
  <button type="submit" class="btn formbutton">Submit</button>
  </div>
</form>
</div>
</div>

<h2 class="text-center mt-4 mb-3 recentposts">My  Posts</h2>
<div class="d-flex justify-content-center myposts mx-5">


    {{#each BlogPosts as |post|}}
    <div class="d-flex justify-content-center mx-5">
    <div class="card bg-dark m-2 cardstyle" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title posttitle"> {{ post.title }}</h4>
    <p class="card-text mb-3"> {{ limit_char post.body }}...</p>
    <p class="datefont"> Created at  {{ format_date post.createdAt}}</p>
    <div class="d-flex justify-content-center">
   
  <button class="btn formbutton m-2 "><a href="/dashboard/{{ post.id }}" class="card-link postlinkdash">View/Edit</a></button>  
   <button class="btn formbutton m-2" data-id="{{post.id}}">DELETE</button>
  
  </div>
</div>
</div>
</div>
  </div>
    {{/each}}
  




<script src="./js/dashboard.js"></script>