

<div class="d-flex justify-content-center mt-2">
<div class="card bg-dark m-2 cardstyle " style="width: 70%;">
  <div class="card-body">
    <h4 class="card-title"> {{ post.title }}</h4>
    <p class="card-text"> Post by {{ post.user.name }} on {{ format_date post.createdAt }}</p>
    
    <h5 class="card-text"> {{ post.body }} </h5>
   </div>
  </div>
</div>
</div>

<div class="d-flex justify-content-center mt-2">
<div class="card bg-dark m-2 p-3 postcard" style="width: 70%;">
  <form class="editpost">
    <div class="form-group p-2">
      <input type="hidden" name="postId" value="{{id}}" />
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control bg-dark text-white" name="postTitle" id="posttitle" value="{{post.title}}" />
    </div>
    <div class="form-group p-2">
      <label for="exampleFormControlTextarea1">Body:</label>
      <textarea class="form-control bg-dark text-white" name="post-body" id="postbody" rows="3">{{post.body}}</textarea>
    </div>
    <div class="text-center pt-2">
    <button type="submit" class="btn formbutton">Submit</button>
    </div>
  </form>
</div>
</div>

<script>
    var postTitle = "{{post.title}}";
    var postBody = "{{post.body}}";
</script>

<script src="/js/editpost.js"></script>



